<h2>CUSTOMIZE THEME</h2>
<script>
    $(function()
    {
        $('.color').each(function(){
            var color = $('.value').text();
            $(this).css('background-color', color);
            console.log(color);
        });

    });
</script>

<div class="row" ng-show="isList">
    <div  ng-repeat="color in colors ">
        <div class="col-xs-6 detail" style="background-color: {{ color.value }}">

            <h1>{{ color.colorname}}</h1>
            <div class="col-xs-4"  ng-show="isNotmyTheme({{color.id}})">
            <button type="button" class="btn "  ng-click="newTheme(color.id)"><span class="glyphicon glyphicon-plus"></span> Theme</button>
            </div>

            <div class="col-xs-4"    ng-show="isTheme({{color.id}})"  style="text-align: right; padding-top: 10px;">
                <button type="button" ng-show="isTheme" class="btn "  ng-click="removeTheme(color.id)"><span class="glyphicon glyphicon-minus"></span> Theme</button>

            </div>

            </div>
        </div>
    </div>


