<div class="row">
    <div class="col-xs-12">
      <a href="#/lineups">  <button type="button" ng-hide="isFestivalChosen" class="btn btn-primary"  ng-click="addChosenFestival()">I go to {{ festival.name }} !</button></a>
        <a href="#/festivals">  <button type="button" ng-show="isFestivalChosen" class="btn btn-default" ng-click="removeChosenFestival()">Choose other festival</button></a>
    </div>

</div>
